In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('data/kakao2.csv')

In [26]:
# Making group
grouped = df.groupby('User')
grouped.count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

      Message
User
박주성     10489
한시시      9776
차민재      3658
김도경      2462
최세정      2402
최재혁      1968
동근       1145
황정현      1028
박헌일       669
김지우       556

In [27]:
df2=df.groupby('User').count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

In [28]:
df2

      Message
User
박주성     10489
한시시      9776
차민재      3658
김도경      2462
최세정      2402
최재혁      1968
동근       1145
황정현      1028
박헌일       669
김지우       556

In [34]:
df2.filter(regex='차민재',axis=0)

      Message
User
차민재      3658

In [40]:
def extract_date(row):
    return row.split('-')[0]+'-'+row.split('-')[1]

In [41]:
df['filtered'] = df['Date'].apply(extract_date)

In [56]:
df[df.filtered >= '2020-09'].groupby('User').count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

      Message
User
한시시      3478
박주성      3072
차민재      1053
최세정       972
김도경       707
최재혁       647
동근        475
김지우       399
황정현       277
박헌일       215