In [1]:
import pandas as pd

In [67]:
# Import csf file
df = pd.read_csv('data/kakao.csv')

## Show message count order by User

In [68]:
# Making group
grouped = df.groupby('User')

# focus : grouped
# showed column : number 1 index -> count()
# Sort standard : 'Message' column
# ascending : False
grouped.count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

              Message
User
FreeVue(홍성준)      995
문성주               940
하민                771
jrjung            609
Ivan              491
...               ...
Jason               1
스티브잡스               1
시원소바                1
Jeffrey             1
sola                1

[406 rows x 1 columns]

## Create new object df2

In [69]:
df2=df.groupby('User').count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

In [70]:
df2

              Message
User
FreeVue(홍성준)      995
문성주               940
하민                771
jrjung            609
Ivan              491
...               ...
Jason               1
스티브잡스               1
시원소바                1
Jeffrey             1
sola                1

[406 rows x 1 columns]

In [73]:
# show filtered object
df2.filter(regex='바보',axis=0)

      Message
User
바보K       399

In [74]:
# Define function to create new column
def extract_date(row):
    return row.split('-')[0]+'-'+row.split('-')[1]

In [75]:
# Apply function at object
df['filtered'] = df['Date'].apply(extract_date)

In [83]:
# Use filtered object to show filtered column using year-month
df[(df.filtered >= '2020-09') & (df.User=='바보K')].groupby('User').count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

      Message
User
바보K       399