In [1]:
import pandas as pd

In [84]:
# Import csf file
df = pd.read_csv('data/kakao2.csv')

## Show message count order by User

In [85]:
# Making group
grouped = df.groupby('User')

# focus : grouped
# showed column : number 1 index -> count()
# Sort standard : 'Message' column
# ascending : False
grouped.count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

      Message
User
박주성     10489
한시시      9776
차민재      3658
김도경      2462
최세정      2402
최재혁      1968
동근       1145
황정현      1028
박헌일       669
김지우       556

## Create new object df2

In [86]:
df2=df.groupby('User').count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

In [87]:
df2

      Message
User
박주성     10489
한시시      9776
차민재      3658
김도경      2462
최세정      2402
최재혁      1968
동근       1145
황정현      1028
박헌일       669
김지우       556

In [88]:
# show filtered object
df2.filter(regex='차민재',axis=0)

      Message
User
차민재      3658

In [89]:
# Define function to create new column
def extract_date(row):
    return row.split('-')[0]+'-'+row.split('-')[1]

In [90]:
# Apply function at object
df['filtered'] = df['Date'].apply(extract_date)

In [95]:
# Use filtered object to show filtered column using year-month
df[(df.filtered >= '2020-09') & (df.User=='차민재')].groupby('User').count().iloc[:,[1]].sort_values(by=['Message'],ascending=False)

      Message
User
차민재      1053